script(src='/dashboard/testpanel/TestPanelController.js')

#extv-lowerthird.panel.panel-default.panel-span-2(ng-controller='TestPanelController')
    .panel-heading
        h3.panel-title Lowerthird
        i.fa.fa-arrow-circle-right.panel-icon
    .panel-body
        .input-group
            span.input-group-addon Title
            input#extv-lowerthird_title.form-control(type='text', placeholder='Title')
        .ncg-label body
        textarea#extv-lowerthird_body.form-control(style='width: 100%; margin-bottom: 8px;')
        .ncg-btn-group
            .btn-group.btn-group-justified
                .btn-group
                    button#extv-lowerthird_in.btn.btn-xs.btn-success(type='button' ng-click='clickMe($event)') Show
                .btn-group
                    button#extv-lowerthird_out.btn.btn-xs.btn-danger(type='button') Hide
            .btn-group.btn-group-justified.no-padding
                .btn-group
                    button#extv-lowerthird_pulse7.btn.btn-xs.btn-primary(type='button') 7s
                .btn-group
                    button#extv-lowerthird_pulse15.btn.btn-xs.btn-primary(type='button') 15s
                .btn-group
                    button#extv-lowerthird_pulse30.btn.btn-xs.btn-primary(type='button') 30s